#################
## Eclipse
#################

.project
.metadata
.ant
_app
bin
data
dist
tmp
work
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.tomcatplugin
.settings/
/target
src/main/webapp/WEB-INF/classes
/VoyantServerNoNlp.zip
/VoyantServer.zip
/logs
/data
