#################
## Eclipse
#################

.project
.metadata
.ant
_app
bin
data
dist
lib
tmp
work
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.tomcatplugin
.settings/
oauth.properties
oauth.beta.properties
